<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-leaf"></i>
                                <span></span>
                            </button>
                            <form action="/componente" onsubmit=" return saveComponent();" id="compsub">
                                <button type="submit" style="visibility: hidden;"  id="savebutton" class="btn btn-info navbar-btn" >Guardar cambios</button>
                                <p style="color: #f00;" id="error"></p>
                            </form>
                        </div>

                        <div style="float: right;">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <form action="/logout">
                                    <button type="submit" class="btn btn-info navbar-btn">Cerrar Sesión</button>
                                </form>
                            </div>                           
                        </div>
                    </div>
                    <form action="/sendForm" method="POST">
                    <div style="margin: 20px;">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Pregunta</th>
                                    <th scope="col">Respuesta</th>
                                </tr>
                            </thead>
                        <tbody id="componenttable">
                                <%indicadores.forEach(function(indicador, index) {%>
                                <tr>
                                    <td><%=indicador.Nombre%></td>
                                    <%if(indicador.Medida_ID==1){%>
                                    <td><select class="form-control hideinput" name="<%=indicador.ID%>">
                                        <option value="0">SI</option>    
                                        <option value="1">NO</option>
                                    </select>
                                    </td>
                                    <%}else if(indicador.Medida_ID==2){%>
                                    <td><select class="form-control hideinput" name="<%=indicador.ID%>">
                                        <option value="1">SI</option>    
                                        <option value="0">NO</option>
                                    </select>
                                    </td>
                                    <%}else if(indicador.Medida_ID==3){%>
                                    <td><input type="number" step="any" min="0" max="100" required class="form-control hideinput" placeholder="0-100" name="<%=indicador.ID%>"></td>
                                    <%}else if(indicador.Medida_ID==4){%>
                                    <td><input type="number" step="1" min="0" required class="form-control hideinput" placeholder="Número Entero" name="<%=indicador.ID%>"></td>
                                    <%}else{%>
                                        <td><select class="form-control hideinput"  name="<%=indicador.ID%>">
                                        <%nominales.forEach(function(nominal,index){%>
                                            <%if(nominal.Indicador_ID==indicador.ID){%>
                                                <option value="<%=nominal.Porcentaje%>"><%=nominal.Simbolo%> <%=nominal.Valor%></option>
                                            <%}%>
                                        <%});%>
                                        </select></td>
                                    <%}%>
                                </tr>
                                <%});%>
                        </tbody>
                        </table>

                    </div>
                    <div id="divbutton" style=" position: absolute; bottom: 6px; right: 8px;">
                        <button type="submit" class="btn btn-info navbar-btn">Guardar Formulario</button>
                    </div>
                    </form>
                </nav>
            </div>
        </div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });


            });
        </script>
        <script src="scripts/crud.js"></script>
    </body>
</html>