<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-leaf"></i>
                                <span></span>
                            </button>
                            <form action="/subcomponente" onsubmit=" return saveSubComponent();" id="compsub">
                                <button type="submit" style="visibility: hidden;"  id="savebutton" class="btn btn-info navbar-btn" >Guardar cambios</button>
                                <p style="color: #f00;" id="error"></p>
                            </form>
                        </div>

                        <div style="float: right;">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <form action="/logout">
                                    <button type="submit" class="btn btn-info navbar-btn">Cerrar Sesión</button>
                                </form>
                            </div>                           
                        </div>
                    </div>
                    <div style="margin: 20px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Componente</th>
                                    <th scope="col">Porcentaje</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                        <tbody id="componenttable">
                                <%rows.forEach(function(componente, index) {%>
                                <tr>
                                    <td><%=componente.ID%></td>
                                    <td><input type="text" class="form-control hideinput" onchange="updateComponent(<%= componente.ID%>)" name="name-<%=componente.ID%>" value="<%=componente.Nombre%>"></td>
                                    <td><select onchange="updateComponent(<%= componente.ID%>)" name="comp-<%=componente.ID%>">
                                        <option selected="" value="<%=componente.Componente_ID%>"><%=componente.Componente%></option>
                                        <%comps.forEach(function(comp){%>
                                            <%if(comp.ID != componente.Componente_ID){%>
                                            <option value="<%=comp.ID%>"><%=comp.Nombre%></option>
                                            <%}%>
                                        <%});%>
                                    </select></td>
                                    <td><input type="number" min="0" step="1" max="100" class="form-control hideinput" onchange="updateComponent(<%= componente.ID%>)" name="value-<%=componente.ID%>" value="<%=componente.Valor%>"></td>
                                    <td><i class="glyphicon glyphicon-trash" onclick="deleteComponent(this, <%=componente.ID%>);"></i></td>
                                </tr>
                                <%});%>
                        </tbody>
                        </table>
                    </div>
                    <div id="divbutton" style=" position: absolute; bottom: 6px; right: 8px;">
                        <button type="button" onclick="addSubComponent();" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span></span>
                        </button>
                    </div>
                </nav>
            </div>
        </div>

        <div id="selectlist" hidden><select name="esta">
                                        <%comps.forEach(function(comp, index){%>
                                            <% if( index == 0 ){%>
                                            <option selected value="<%=comp.ID%>"><%=comp.Nombre%></option>
                                            <%} else {%>
                                            <option value="<%=comp.ID%>"><%=comp.Nombre%></option>
                                            <%}%>
                                        <%});%>
                                    </select>
        </div>

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });


            });
        </script>
        <script src="scripts/crud.js"></script>
    </body>
</html>