<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-leaf"></i>
                                <span></span>
                            </button>
                            
                        </div>

                        <div style="float: right;">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <form action="/logout">
                                    <button type="submit" class="btn btn-info navbar-btn">Cerrar sesi칩n</button>
                                </form>
                            </div>       
                        </div>

                    </div>
                    <div>
                        <div class="form-group">
                            <h3>Generaci칩n de informes</h3>
                            <br>
                            <div>
                                <input type="radio" name="tipoInforme" value="global" checked onclick="cambiarTipoInforme();">Informe global
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="tipoInforme" value="custom" onclick="cambiarTipoInforme();">Informe personalizado
                            </div>
                            <br><br>
                            <div style="display: flex;">
                                <select id="listAsada" class="form-control hideinput">
                                    <%asadas.forEach(function(asada){%>
                                    <option value="<%=asada.ID%>,
                                    <%=asada.Nombre%>,
                                    <%=asada.Provincia%>, 
									<%=asada.Canton%>, 
									<%=asada.Distrito%>, 
									<%=asada.Ubicacion%>, 
									<%=asada.Latitud%>,
                                    <%=asada.Longitud%>,               
                                    <%=asada.Poblacion%>,             
									<%=asada.cantAbonados%>,           
									<%=asada.Telefono%>,               
									<%=asada.Url%>">
									<%=asada.Nombre%></option>
                                    <%});%>
                                </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<p id="listaAsadas" value="" hidden></p>
                                <button id="agregarAsada" class="btn btn-info navbar-btn" hidden onclick="addAsadaToList();">+</button>
                                <button id="borrarAsada" class="btn btn-info navbar-btn" hidden onclick="deleteAsadaFromList();">-</button>
                            </div>
                            <textarea id="asadasInforme" rows=5 readonly style="max-width:auto; min-width:500px; resize:none;" hidden ></textarea>
                        </div>
                        <div id="prueba" class="present" hidden>
                            <canvas id="radar-chart"></canvas>
                        </div>
                        <div>
                            <input type="checkbox" name="grafico" checked="true">Incluir gr치fico de ara침a
                            &nbsp;&nbsp;
                            <input type="checkbox" name="hist" checked="true">Incluir histograma
                            <br><br>
                            <button id="genpdf" class="btn btn-info navbar-btn" onclick="generarPDF()">Generar Informe</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- jQuery CDN -->		
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
		<!-- JS PDF -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

				$("#agregarAsada").hide();
				$("#borrarAsada").hide();
				$("#asadasInforme").hide();
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });


            });
        </script>
        <script src="scripts/script.js"></script>
    </body>
</html>
