<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <header>
     <% include ../partials/mainHeader %>
    </header>
    <div class="main" style="overflow: auto;">
      <div class="main_table">
        <table>
          <thead>
            <th>Nombre</th>
            <th>Localización</th>
            <th>Información</th>
          </thead>
          <% rows.forEach(function(asada) { %>
          <tr>
              <td><%= asada.nombre %></td>
              <td><%= asada.distrito%>, <%= asada.canton%>, <%= asada.provincia%></td>
              <td><a href="/asada/<%= asada.codigo%>" ><i class="fa fa-info-circle"></i></a></td>  
          </tr>
          <% }); %>
        </table>
      </div>
      </div>
      <div class="main_lateral">
        <% include ../partials/nav %>       
      </div>

  </body>
</html>
